*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: rgb(129, 51, 51);
    border: 2px solid black;
    display: grid;

    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.item1{
    grid-row: 1/3;
    grid-column: 1/5;
    background-color: firebrick;
}
.item2{
    background-color:rgb(34, 70, 178) ;
    grid-row: span 2;
    grid-column: span 9;

}